# --- Data & Large Files (keep out of git) ---
**/data/raw/
**/data/processed/
*.csv
*.parquet
*.feather
*.zip

# --- Power BI (pbix can be large) ---
*.pbix

# --- Python ---
.venv/
__pycache__/
.ipynb_checkpoints/

# --- OS ---
.DS_Store
Thumbs.db
